body {
	background-image: url("background.png");
	background-attachment: fixed;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

#tiles {
	height: 400px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;
}